.navbar {
  position: fixed;
  display: block;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  padding-left: 1.5em;

  &-bar {
    position: relative;
    height: 100vh;
  }
  &-nav {
    position: absolute;
    @include flex(column, nowrap, null, center);
    gap: 16%;
    width: 106%;
    height: 102%;
    padding: 65% 0 65% 1.25em;
    top: 0;
    left: 0;

    &-button {
      height: 7%;
      width: 70%;
      & img {
        height: 100%;
        width: 100%;
        
      }
      &-hoverInfo{
        position:relative;
        background-color: rgb(44, 46, 54, 0.8);
        top:-100%;
        left: 120%;
        width: 300%;
        padding: 10%;
        border-radius: 100%;
        @include flex(row, nowrap, center, center);
        text-align: center;
        h2{
          text-shadow: 3px 3px 1px #1937a3;
          font-size: 0.8em !important;
          color: rgb(255, 255, 255, 0.8);
          z-index: 1003;
        }
      }
      & button{
        display: flex;
        height: 100%;
        width: 100%;
      }
      &-link{
        height: 100%;
        width: 100%;
      }

    }
  }

  &-characterContent {
    position: absolute;
    @include flex(column, null, null, center);
    width: 100%;
    height: 100%;
    padding-left: 1.25em;
    top: 0;
    left: 0;

    &-scroll {
      position: relative;
      width: 100%;
      height: 100%;
      
      &-image {
        height: 12%;
        width: 100%;
        z-index: 1004;
        @include cursor();
      }
    }
  }
}

.reference {
  position: absolute;
  margin: 65% 0 65% 1.25em;
  width: 90%;
  height: 80.5%;
  left: 0;
  top: 0;
}

.base {
  position: absolute;
  padding-left: 1.25em;
  z-index: 1002;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  &-character {
    position: relative;
    height: 11.7%;
    width: 99.6%;
  }
}
