.skills {
  &__background {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &-lava {
      position: relative;
      height: 100%;
      width: 100%;
      background-size: 100% 100%
    }
    &-stalactites {
      position: absolute;
      top: 200vh;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

.content {
  position: absolute;
  top: 200vh;
  height: 100%;
  width: 100%;
  @include flex(column, nowrap, center, null);
  &__box1{
    @include flex(row, nowrap, center, center);
    margin-top: 63px;
    height: 10%;
    &-title{
      position: relative;
      margin: 0;
    }& h1{
      text-shadow: 3px 4px 1px #1937a3;
      font-size: 3em;  
      color: #f7d419;
    }
  }
  &__box2{
    margin-top: 10px;
    height: 90%;
    @include flex(row, null, center, null);
    &-intern{
      height: 75%;
      width: 70%;
      overflow: hidden;
      &-table{
        @include flex(row, nowrap, center, null);
        height: 100%;
        width: 195%;
        overflow: hidden;
        
      }
    }
  }
}

.arrowBox{
  position: absolute;
  top: 15%;
  height: 75%;
  width: 70%;
  // z-index: 1000;
  @include flex(row, nowrap, space-between, center);
  &-arrow{
    z-index: 1005;
    width: 30px;
    height: 70px;
    top: 180px;
    & button{
      width: 100%;
      height: 100%;
      background-color: #1cd1e9;
    }
  }
}
.table {
  z-index: 1001;
  position: relative;
  height: 100%;
  width: 100%;
  @include flex(column, nowrap, center, null);
  gap: 5px;
  &_row {
    height: 22%;
    width: 100%;
    gap: 5px;
    @include flex(row, nowrap, center, center);
    &-element {
      position: relative;
      height: 100%;
      width: 100%;
      @include flex(row, nowrap, center, center);
      &-logo {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 60% 90%;
        background-position: 50% 50%;
      }
      &-hoverInfo{
        position:absolute;
        left: 3.5vw;
        top: 1vh;
        background-color: rgb(44, 46, 54, 0.8);
        padding: 1%;
        border-radius: 10%;
        z-index: 1001;
        h2{
          text-shadow: 3px 3px 1px #1937a3;
          font-size: 0.8em !important;
          color: rgb(255, 255, 255, 0.8);
        }
      }
    }
  }
}



.top {
  height: 10%;
  h5 {
    text-shadow: 3px 3px 1px #1937a3;
    font-size: 1em !important;
    color: #fff;
  }
}
.bgLava {
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 0;
}
.scCoin {
  height: 80%;
  width: 45%;
  &__box{
    position: relative;
    height: 100%;
    width: 100%;
    top: -106%;
    z-index: 1001;
  }
}

.scBat{
  position: absolute;
  top: 8.2vh;
  left: 85vw;
  height: 18%;
  width: 10%;
  &__box{
    position: relative;
    height: 100%;
    width: 100%;
    top: -103%;
    z-index: 1001;
  }
}


.animate__animated.animate__slideOutLeft {
  animation-name: slideOutLeft2;
}

@keyframes slideOutLeft2 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}