.skills {
  &_background {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &-lava {
      height: 100%;
      width: 100%;
    }
    &-stalactites {
      position: absolute;
      top: 200vh;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  &_content {
    position: absolute;
    top: 200vh;
    height: 100%;
    width: 100%;
    @include flex(row, nowrap, center, null);
    // background-color: rgb(236, 30, 30);

    &-box2 {
      position: absolute;
      display: none;
      top: 10vh;
      left: 30vw;
      height: 15%;
      width: 10%;
      // background-color: rgb(15, 179, 255);
    }
  }
}

.table {
  position: relative;
  top: 9vh;
  height: 73%;
  width: 60%;
  @include flex(column, nowrap, center, null);
  gap: 5px;
  // background-color: #fff;
  &_row {
    height: 22%;
    width: 100%;
    gap: 5px;
    @include flex(row, nowrap, center, center);
    // background-color: rgb(11, 198, 231);
    &-element {
      position: relative;
      height: 100%;
      width: 100%;
      @include flex(row, nowrap, center, center);
      // background-color: rgb(154, 231, 11);
      &-logo {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 60% 90%;
        background-position: 50% 50%;
      }
      &-hoverInfo{
        position:absolute;
        display: none;
        left: 3.5vw;
        top: 1vh;
        background-color: rgb(44, 46, 54, 0.8);
        padding: 1%;
        border-radius: 10%;
        z-index: 1001;
        h2{
          font-size: 1em !important;
          color: rgb(255, 255, 255, 0.8);
        }
      }
    }
  }
}
.top {
  height: 10%;
  // background-color: rgb(0, 0, 0);
  h5 {
    font-size: 0.8em !important;
    color: #fff;
  }
}
.bgLava {
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 0;
}
.scCoin {
  height: 80%;
  width: 45%;
  &__box{
    position: relative;
    height: 100%;
    width: 100%;
    top: -106%;
    z-index: 1001;
  }
}
